<h1>Testing Page</h1>

<script>


    var CAD = 600
    var USD = 100

    var CADtoUSD = 1.33
    var USDtoCAD = 0.75


    var convertCAD = function(cad) {
        CAD -= cad
        var amount = cad * USDtoCAD
        USD += amount
        return CAD, USD
    }

    var convertUSD = function(usd) {
        USD -= usd
        var amount = usd * CADtoUSD
        CAD += amount
        return CAD, USD
    }
    

</script>