<h1>Make a transaction</h1>
<form action="/account" method="POST">
    <input type="number" name="amount" placeholder="amount">
    <input type="text" name="currency" placeholder="currency">
    <input type="hidden" name="sender" value='<%= currentUser._id %>''>
    <input type="text" name="receiver" placeholder='receiver'>
    <input type="text" name="date" value= '<%= new Date() %>' readonly>
    <input type="text" name="notes" placeholder="notes">
    <input type="submit" value="Add">
</form>