body, html {
    height: 100%;
    /* background:rgba(49, 76, 230, 0.384);
    background: linear-gradient(to bottom, #449fab, #e361bd, #f3c4cf); */
    background-color: linear-gradient(26deg, #1493df, #aba9db, #c17077);
    /* background-color: #8a97be; */
    /* background: linear-gradient(96deg, #343867, #05afe1, #fc4546); */
    font-family: 'Raleway', sans-serif;
}

.spacingP {
    padding-left: 0;
    padding-right: 0;
    margin-top: 4rem;
    padding-top: 4rem;
}

.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-brand {
    padding: 10px;
    color:black;
} 

.toggleSize {
    font-size: 1.5rem;
}

.navbar.scrolled {
    background: #0f8fcf;
    transition: background 500ms;
}

.positive {
    background: rgba(96, 238, 96, 0.493);
    padding-left: 10px;
}

.negative {
    background: rgba(219, 57, 57, 0.616);
    padding-left: 10px;
}

.dark {
    color: rgb(194, 197, 191) !important;
    background-color: rgb(65, 72, 116) !important;
    border: 1px solid rgb(54, 63, 72);
}

.fa-plus, .fa-minus {
    padding-top: 8px;
    color: black;
}

.fa-trash-alt {
    color: rgb(158, 19, 19);
}

.trashButton {
    background: none;
    border: none;
    padding: 0px;
    cursor: pointer;
}

.exchange {
    background-color: rgb(97, 114, 231);
    margin-bottom: 5px;
    width: 100%
}

.btnClip {
    color: black;
}

#backButton {
    text-decoration: none;
    color: black
}

#backButton:hover {
    text-decoration: none;
    color: rgba(31, 29, 29, 0.733);
}

.changeCopyColor {
    color: rgb(126, 118, 118);
    text-decoration: none;
}

.letterSpacing {
    letter-spacing: 0.75px;
}


#createTransaction {
    color: black;
}

#userList, #currentBalanceText {
    text-decoration: underline;
}

#currentBalance, #currentBalanceText {
    font-size: 0.75rem;
}

/* Scroll Bar */

#userListScroll {
    overflow: auto;
    width: 100%;
    height: 250px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 0px;
}

::-webkit-scrollbar-track {
border: 1px solid rgb(5, 5, 5);
border-radius: 5px;
}

::-webkit-scrollbar-thumb {
background: #1a3954;
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: #244e74;  
}

/* Scrollbar styles */

#transactionHistory {
    overflow: auto;
    width: 100%;
    height: 430px;
    margin: 0 auto;
}

#ExchangeHistory {
    overflow: auto;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    
}

.transactionBackground {
    border: 2px solid #0000001c;
}


.spacing {
    padding-right: 5px;
}

.padding {
    padding-top: 100px;
}

#alert {
    padding-top: 50px;
}

.paddingLeft {
    background: none;
    border: none;
    margin: 0 auto
}

/*  extra Small Devices, Tablets */
@media only screen and (min-width : 360px) {

    #balance {
        border-right: 1px;
        border-color: black;
    }

    #transactionHistory {
        width: 80%;
    }
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

    #transactionHistory {
        overflow: auto;
        width: 100%;
        height: 430px;
        margin: 0 auto;
    }

    #balance {
        border-color: black;
    }
}

